
/*
Name: Custom CSS file (based on boot strap)
Author: Pulkit Gupta
Email: pulkit.itp@gmail.com
Function: Give the effect of suggestion list and overall design.
*/

.header{
	background-color: black;	
}

.jumbotron h1{
    color: #FFE87C;
}
.jumbotron h4{
	color: #fff;
	/*#7D95FF;*/
}

.jumbotron p{
    color: #fff;
}

.text{
	  width: 200px;
      margin: 0 auto;
      position: relative;
}
.input{
	width:230px;
	height:30px;
	outline:none;
	padding:0px 10px;
	margin:0px auto;
	display:block;
}

.suggestions-list {

	/*
		left: 50%;
		margin 0 0 0 -120px;
	*/
	position: absolute;
	list-style-type: none;
	
	padding: 0;
	
	left: 0;
	overflow: auto;
	z-index: 99999999999;
}
.suggestions-list li {
	color: #000000;
	padding: 10px 10px;
	height: 35px;
	cursor: pointer;
	background: #f9f9f9;
	border-bottom: 1px solid #eeeeee;
	width:234px;
}
.suggestions-list li:hover {
	background: #FFE87C;
}
.suggestions-list li:active,
.suggestions-list li.active {
	color: #FFFFFF;
	background: #0099FF;
	width:234px;
}
.suggestions-list:focus{
	outline:none;
}