
<!--
    HTML Template for the search box with Autocompletion suggestion.
    Works with Keyboard Up and down keys and also mouse click.
-->
<div class="text">
    <div>
        <input type="text" placeholder="Search for items" class="input" ng-keydown="checkKeyDown($event)"   
            ng-keyup="checkKeyUp($event)" ng-model="searchText" ng-change="search()"/>
        </div>
        <ul class="suggestions-list">
            <li ng-repeat="suggestion in suggestions track by $index"
            ng-class="{active : selectedIndex === $index}" ng-click="assignAndHide($index)">
            {{suggestion}}
        </li>
    </ul>
</div>
